/* MEDIA QUERY MANAGER

0 - 900px:  phone/tablet-portrait
*/
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: lato, sans-serif;
  font-weight: 400;
  line-height: 1.3; }

.nav__text-logo-container {
  border-top: 1px solid #23B1A5;
  border-bottom: 1px solid #23B1A5; }

.nav__text-logo {
  font-size: 2rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .nav__text-logo {
      display: none; } }
  .nav__text-logo--2 {
    color: #2980B9; }
  .nav__text-logo--1 {
    color: #DE3C3C; }

.nav__navigation {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  color: #23B1A5; }
  @media only screen and (max-width: 56.25em) {
    .nav__navigation {
      display: none; } }
  .nav__navigation:not(:last-child) {
    margin-right: .8rem; }
  .nav__navigation:link, .nav__navigation:visited {
    color: #23B1A5; }

.paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  color: #4f4f4f; }
  @media only screen and (max-width: 56.25em) {
    .paragraph {
      display: none; } }
  .paragraph__small {
    font-size: 1.5rem;
    font-weight: 300;
    margin: .8rem 0;
    color: #4f4f4f; }
  .paragraph__reference {
    font-size: 1.2rem;
    color: #4f4f4f; }

.heading-1 {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff; }
  .heading-1__paragraph {
    font-size: 2rem;
    font-weight: 400;
    color: #ffffff; }

.heading-2 {
  font-size: 3rem;
  font-weight: 700;
  color: #23B1A5; }
  .heading-2--center-1 {
    padding: 3.2rem 0;
    display: block;
    text-align: center;
    position: relative; }
    .heading-2--center-1::before {
      content: "";
      width: 57.5%;
      height: .1rem;
      margin-left: 2.4rem;
      background-color: #23B1A5;
      position: absolute;
      top: 0;
      left: 0; }
      @media only screen and (max-width: 56.25em) {
        .heading-2--center-1::before {
          display: none; } }
  .heading-2--center-2 {
    padding: 3.2rem 0;
    display: block;
    text-align: center;
    position: relative; }
    .heading-2--center-2::before {
      content: "";
      width: 95.2%;
      height: .1rem;
      margin-left: 2.4rem;
      background-color: #23B1A5;
      position: absolute;
      top: 0;
      left: 0; }
      @media only screen and (max-width: 56.25em) {
        .heading-2--center-2::before {
          display: none; } }

.heading-3 {
  font-size: 2rem;
  font-weight: 400;
  color: #4f4f4f; }
  @media only screen and (max-width: 56.25em) {
    .heading-3 {
      font-size: 5vw; } }
  .heading-3--video {
    color: #23B1A5; }
    @media only screen and (max-width: 56.25em) {
      .heading-3--video {
        display: none; } }
  .heading-3__span {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    color: #4f4f4f; }

.read-more {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  display: block;
  position: relative; }
  .read-more:link, .read-more:visited {
    color: #2980B9; }

.footer {
  font-size: 1.2rem;
  color: #ffffff; }
  .footer__link {
    margin: 0 1rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__link {
        display: none; } }
    .footer__link:link, .footer__link:visited {
      color: #ffffff;
      text-decoration: none; }

.u-4-side-margin {
  margin: 3.2rem 2.4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-4-side-margin {
      margin: 0 !important; } }
  .u-4-side-margin--small {
    margin: 3.2rem 1.6rem !important; }

.u-margin-bottom-big {
  margin-bottom: 3.2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2.4rem !important; }

.u-margin-bottom-small {
  margin-bottom: .8rem !important; }

.nav__img-container {
  animation: scaler 800ms ease-out; }
  @media only screen and (max-width: 56.25em) {
    .nav__img-container {
      animation: none; } }

@keyframes scaler {
  0% {
    transform: translateX(-5.2rem); }
  100% {
    transform: translateX(0); } }

.nav__logo {
  animation: rotation 800ms ease-out; }
  @media only screen and (max-width: 56.25em) {
    .nav__logo {
      animation: none; } }

@keyframes rotation {
  0% {
    transform: rotate(0deg) scale(0); }
  100% {
    transform: rotate(360deg) scale(1); } }

.nav__text-logo-container {
  animation: movement 1200ms cubic-bezier(0.165, 0.84, 0.44, 1) 800ms; }

@keyframes movement {
  50% {
    transform: translateX(3rem); } }

.nav__navigation {
  position: relative;
  padding: 1rem 0; }
  .nav__navigation::before {
    content: "";
    width: 0;
    height: .3rem;
    background-color: #23B1A5;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out; }
  .nav__navigation:hover::before {
    width: 100%; }

.btn {
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.4);
  transition: all 200ms; }
  .btn:hover {
    transform: translateY(-5%);
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.4); }
  .btn:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.4); }

.about {
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 56.25em) {
    .about__right-side {
      width: 100vw; } }
  @media only screen and (max-width: 56.25em) {
    .about__left-side {
      display: none; } }
  .about__img {
    width: 100%;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.35);
    border-radius: 2px;
    overflow: hidden; }
  .about__small-img {
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .about__small-img {
        display: none; } }
    .about__small-img--mobile {
      display: none; }
      @media only screen and (max-width: 56.25em) {
        .about__small-img--mobile {
          display: block;
          width: 100%; } }

.learning {
  background-color: white;
  color: #23B1A5; }
  .learning__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    @media only screen and (max-width: 56.25em) {
      .learning__container {
        flex-direction: column;
        padding: 0 1.6rem; } }

.thesis__right-side {
  margin: 0 2.4rem 3.2rem 2.4rem; }
  @media only screen and (max-width: 56.25em) {
    .thesis__right-side {
      margin: 0 !important; } }

@media only screen and (max-width: 56.25em) {
  .thesis__left-side {
    display: none; } }

.thesis__flex-container {
  display: flex;
  flex-direction: row; }

.thesis__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.35);
  border-radius: 2px;
  overflow: hidden; }

.nav {
  width: 100%;
  height: 6.4rem;
  background-color: #ffffff;
  padding: 0 2.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  backface-visibility: hidden;
  border-bottom: 1px solid #d0d0d0; }
  @media only screen and (max-width: 56.25em) {
    .nav {
      display: block;
      padding: 0; } }
  .nav__logo-container {
    display: flex;
    align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .nav__img-container {
      width: 100%;
      height: 6.4rem;
      display: flex;
      justify-content: space-around;
      align-items: center; } }
  .nav__logo {
    height: 4.5rem; }
    .nav__logo--phone {
      display: none; }
      @media only screen and (max-width: 56.25em) {
        .nav__logo--phone {
          display: inline-block;
          height: 4.5rem; } }

.header {
  width: 100%;
  background-color: #23B1A5;
  display: flex;
  flex-direction: row;
  padding-top: 6.4rem; }
  @media only screen and (max-width: 56.25em) {
    .header {
      display: flex;
      flex-direction: column; } }
  .header__banner {
    width: 100%;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.35);
    border-radius: 2px;
    overflow: hidden; }
  .header__right-side {
    display: flex;
    align-items: center;
    padding-right: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .header__right-side {
        padding: 3.2rem 1.6rem;
        display: flex;
        justify-content: center; } }

.main-column {
  width: 60%; }
  @media only screen and (max-width: 56.25em) {
    .main-column {
      width: 100%; } }

.secondary-column {
  width: 40%; }
  @media only screen and (max-width: 56.25em) {
    .secondary-column {
      width: 100%; } }
  .secondary-column--side {
    background-color: #FFDD7E;
    width: 40%; }
    @media only screen and (max-width: 56.25em) {
      .secondary-column--side {
        width: 100%; } }

.footer {
  height: 15rem;
  padding: 1.6rem 2.4rem;
  background-color: #23B1A5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      display: flex;
      height: 5rem;
      text-align: center;
      justify-content: center; } }

.btn {
  display: block;
  background-color: #FFDD7E;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  color: #4f4f4f;
  border-radius: 2px;
  overflow: hidden; }

.box {
  width: calc(100%/4);
  display: inline-block;
  border: 1px solid #d0d0d0;
  margin: 0 1.6rem;
  border-radius: 2px;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .box {
      width: 100%;
      margin: 0 0 .8rem 0 !important;
      background-color: #e1f5f0; } }
  .box__img-container {
    width: 100%;
    margin-bottom: 1.6rem; }
  .box__img {
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .box__img {
        display: none; } }
  .box__text-container {
    padding: 0 3rem 2.4rem 1.6rem;
    text-align: left; }
    @media only screen and (max-width: 56.25em) {
      .box__text-container {
        padding: 1.6rem 1rem; }
        .box__text-container :first-child {
          margin-left: 1.6rem; }
        .box__text-container :not(h3) {
          display: none; } }

.small-content {
  display: flex;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .small-content {
      display: block; } }
  .small-content::before {
    content: "";
    width: 57%;
    height: .1rem;
    background-color: #23B1A5;
    position: absolute;
    top: 0;
    right: 0; }
    @media only screen and (min-width: 112em) {
      .small-content::before {
        width: 28vw; } }
    @media only screen and (max-width: 56.25em) {
      .small-content::before {
        display: none; } }
  .small-content::after {
    content: "";
    width: 57%;
    height: .1rem;
    background-color: #23B1A5;
    position: absolute;
    bottom: 0;
    right: 0; }
    @media only screen and (min-width: 112em) {
      .small-content::after {
        width: 28vw; } }
    @media only screen and (max-width: 56.25em) {
      .small-content::after {
        display: none; } }
  .small-content--info {
    width: 100%;
    padding: 1rem 2rem;
    position: relative; }
