.header {
  width: 100%;
  background-color: $main-color;
  display: flex;
  flex-direction: row;
  padding-top: 6.4rem;

  &__banner {
    width: 100%;
    @include shadow;
    @include border-radius;
  }

  &__right-side {
    display: flex;
    align-items: center;
    padding-right: 8rem;
  }
}
