.btn {
  display: block;
  background-color: $tertiary-color;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  color: $main-color;
  @include border-radius;
}
