.small-content {
  display: flex;
  align-items: center;
  position: relative;

  @include phones {
    display: block;
  }

  &::before {
    content:"";
    width: 57%;
    height: .1rem;
    @include thin-line;
    position: absolute;
    top: 0;
    right: 0;

    @include phones {
      display: none;
    }
  }

  &::after {
    content:"";
    width: 57%;
    height: .1rem;
    @include thin-line;
    position: absolute;
    bottom: 0;
    right: 0;
    
    @include phones {
      display: none;
    }
  }

  &--info {
    width: 100%;
    padding: 1rem 2rem;
    position: relative;
  }
}
