*, *::before, *::after { //must specify pseudo elements such as ::before
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include phones {
    font-size: 55%;
  }
}

body {
  box-sizing: border-box;
}
