body {
  font-family: lato, sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

.nav {

  &__text-logo-container {
    border-top: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
  }
  &__text-logo {
    font-size: 2rem;
    text-transform: uppercase;
    @include phones {
      display: none;
    }

    &--2 {
      color: #2980B9;
    }
    &--1 {
      color: #DE3C3C;
    }
  }

  &__navigation {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: $main-color;
    @include phones {
      display: none;
    }

    &:not(:last-child) {
      margin-right: .8rem;
    }

    &:link, &:visited {
      color: $main-color;
    }
  }
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  color: $dark-gray;

  @include phones {
    display: none;
  }

  &__small {
    font-size: 1.5rem;
    font-weight: 300;
    margin: .8rem 0;
    color: $dark-gray;
  }

  &__reference {
    font-size: 1.2rem;
    color: $dark-gray;
  }
}

.heading-1 {
  font-size: 4rem;
  font-weight: 700;
  color: $secondary-color;

  &__paragraph {
    font-size: 2rem;
    font-weight: 400;
    color: $secondary-color;
   }
 }

 .heading-2 {
   font-size: 3rem;
   font-weight: 700;
   color: $main-color;

   &--center-1 {
     padding: 3.2rem 0;
     display: block;
     text-align: center;
     position: relative;

     &::before {
       content:"";
       width: 60%;
       height: .1rem;
       margin-left: 2.4rem;
       @include thin-line;
       position: absolute;
       top: 0;
       left: 0;

       @include phones {
         display: none;
       }
     }
   }

   &--center-2 {
    padding: 3.2rem 0;
    display: block;
    text-align: center;
    position: relative;

    &::before {
      content:"";
      width: 95.2%;
      height: .1rem;
      margin-left: 2.4rem;
      @include thin-line;
      position: absolute;
      top: 0;
      left: 0;

      @include phones {
        display: none;
      }
    }
  }
 }

 .heading-3 {
   font-size: 2rem;
   font-weight: 400;
   color: $dark-gray;

   @include phones {
     font-size: 5vw;
   }

   &--video {
     color: $main-color;

     @include phones {
       display: none;
     }
   }

   &__span {
     font-size: 1.8rem;
     font-weight: 300;
     text-transform: uppercase;
     display: block;
     color: $dark-gray;
   }
 }

 .read-more {
   font-size: 1.5rem;
   font-weight: 400;
   text-decoration: none;
   display: block;
   position: relative;

   &:link, &:visited {
     color: #2980B9;
  }
}

 .footer {
   font-size: 1.2rem;
   color: $secondary-color;

   &__link {
     margin: 0 1rem;

     @include phones {
       display: none;
     }

     &:link, &:visited {
       color: $secondary-color;
       text-decoration: none;
     }
   }
 }
