.u-4-side-margin {
  margin: 3.2rem 2.4rem !important;
}

.u-left-margin-medium {
  margin-left: 2.4rem !important;
}
.u-left-margin-small {
  margin-left: 1.6rem !important;
}

.u-margin-top-big {
  margin-top: 3.2rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 3.2rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 2.4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.6rem !important;
}
