.about {
  display: flex;
  flex-direction: row;

  &__right-side {

    @include phones {
      width: 100vw;
    }
  }

  &__left-side {
    @include phones {
      display: none;
    }
  }

  &__img {
    width: 100%;
    @include shadow;
    @include border-radius;
  }

  &__small-img {
    width: 100%;

    @include phones {
      display: none;
    }

    &--mobile {
      display: none;

      @include phones {
        display: block;
        width: 100%;
      }
    }
  }
}

.learning {
  background-color: white;
  color: #23B1A5;

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    @include phones {
      flex-direction: column;
      padding: 0 1.6rem;
    }
  }
}

.thesis {

  &__right-side {
    margin: 0 2.4rem 3.2rem 2.4rem;

    @include phones {
      margin: 0 !important;
    }
  }

  &__left-side {

    @include phones {
      display: none;
    }
  }

  &__flex-container {
    display: flex;
    flex-direction: row;
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include shadow;
    @include border-radius;
  }
}
