.about {
  display: flex;
  flex-direction: row;

  &__img {
    width: 100%;
  }

  &__small-content {
    display: flex;
    align-items: center;
  }

  &__small-img-container {
    min-width: 35%;
  }

  &__small-img {
    width: 100%;
  }

  &__small-content-info {
    width: 100%;
    padding: 1rem 2rem;
  }
}

.learning {
  text-align: center;
  padding: 3.2rem 0;

  &__container {
    margin: 3.2rem 0;
  }
}
