@mixin border-radius {
  border-radius: 2px;
  overflow: hidden;
}
@mixin shadow {
  box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .35);
}

@mixin thin-line {
  background-color: $main-color;
}

/* MEDIA QUERY MANAGER

0 - 900px:  phone/tablet-portrait
*/

@mixin phones {
  @media only screen and (max-width:56.25em) {@content}; //900 px
}

@mixin big-screen {
  @media only screen and (min-width:112em) {@content}; //1800 px
}
